<%layout("/layouts/boilerplate.ejs")%>

<body>
    <h1>Update</h1>
    <div class="container">
        <form class="form-group needs-validation" novalidate action="/listings/<%=listing._id%>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Enter Title</label>
                <input type="text" name="listing[title]" class="form-control is-valid" required value="<%=listing.title %>" id="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control is-valid" required id="description"><%=listing.description %></textarea>
            </div>

            <div class="mb-3">
                <label for="currentimage">Current Image</label>
               <img src="<%= originalImageUrl %>" class="w-25" alt="">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image Upload</label>
                <input type="file" name="listing[image]" class="form-control is-valid" id="image">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" class="form-control is-valid" required value="<%= listing.price%>" id="price">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Enter Location</label>
                <input type="text" name="listing[location]" class="form-control is-valid" required value="<%=listing.location %>" id="location">
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Enter Country</label>
                <input type="text" name="listing[country]" class="form-control is-valid" required value="<%=listing.country %>" id="country">
            </div>
            <div class="mb-3">
                <button class="btn btn-dark">Edit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>
